.btnBox {
  position: relative;
  margin: 0 auto;
  padding: 10px 0;
  overflow: hidden;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}
.btnBox > button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  padding: 5px;
  border-radius: 50%;
  opacity: 0.3;
  background-color: #D9D9D9;
}
.btnBox > button:active {
  opacity: 1;
}
.btnBox > button:nth-of-type(1) {
  top: 25%;
  left: 1%;
}
.btnBox > button:nth-of-type(2) {
  top: 25%;
  right: 1%;
}
.btnBox > div {
  display: flex;
}
.btnBox > div button {
  flex-shrink: 0;
  flex-basis: 25%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 10px;
  background-color: #D9D9D9;
  border-radius: 25px;
  font-weight: bold;
}
.btnBox > div button:focus {
  background-color: black;
  color: white;
}

.link {
  display: flex;
  border-bottom: 1.5px solid black;
}
.link ul {
  box-sizing: border-box;
  padding: 15px 20px;
  width: 50%;
}
.link ul li:nth-child(2) {
  margin-bottom: 5px;
}
.link figure {
  width: 50%;
}
.link figure img {
  width: 100%;
}