.btnBox{
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
  justify-content: space-evenly;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  button{
    padding: 5px 20px;
    background-color: #D9D9D9;
    border-radius: 15px;
    font-weight: bold;
    &:focus{
      background-color: black;
      color: white;
    }
  }
}

.link{
  display: flex;
  border-bottom: 1.5px solid black;
  ul{
    box-sizing: border-box;
    padding: 15px 20px;
    width: 50%;
    li:nth-child(2){
      margin-bottom: 5px;
    }
  }
  figure{
    width: 50%;
    img{
      width: 100%;
    }
  }
}
